<%= form_for charges_path do |f| %>
  <div>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error]%></p>
      </div>
    <% end %>
    <label class="amount"><span><%= number_to_currency(@current_cart.sub_total) %></span></label>
  </div>
  <script src="https://checkout.stripe.com/checkout.js" 
    class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key]%>"
    
    data-description="Items"
    data-amount="<%= number_to_currency(@amount)%>"
    data-locale="auto"
  >
  </script>
<% end %>